<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Carro</ion-title>
    <ion-buttons slot="end">
      <ion-button auto-hide="false" routerDirection="root" [routerLink]="['/favorito/Favorito']" lines="none"
        detail="false">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button auto-hide="false" routerDirection="root" [routerLink]="['/carro/Carro']" lines="none" detail="false"
        routerLinkActive="selected">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content>

  <ion-card *ngFor="let p of usuario.carro; let i = index">
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="{{ p.foto[0] }}"></ion-img>
      </ion-thumbnail>
      <ion-text>{{ p.nombre }}</ion-text>
      <ion-button fill="" style="color:rgb(199, 143, 255)" slot="end" (click)="borrarProd(i)">Eliminar</ion-button>
    </ion-item>

    <ion-card-content>
      <ion-text>Precio: ${{ p.precio }} C/U</ion-text> <div></div>
      <ion-text>Cantidad: {{ p.cantidad }}</ion-text> 
      <ion-buttons>
        <ion-icon name="remove" slot="icon-only" (click)="menProd(i)"></ion-icon>
      <ion-icon name="add" slot="icon-only" (click)="masProd(i)"> mas</ion-icon>
      </ion-buttons>


      

    </ion-card-content>
  </ion-card>


    <ion-button expand="block" color="danger" shape="round" (click)="vaciarCarro()">Vaciar Carro</ion-button><div></div>




  <ion-item>
    <ion-label>Total: $ {{ total }} </ion-label>
    <ion-button shape="round" style="color:rgb(199, 143, 255)" fill="clear" slot="end" (click)="pagar()">PAGAR</ion-button>
  </ion-item>
</ion-content>


<ion-tab-bar>
  <ion-tab-button auto-hide="false" *ngFor="let p of appBarra; let i = index" routerDirection="root"
    [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
    <ion-icon name={{p.icon}}></ion-icon>
    <ion-label>{{ p.title }}</ion-label>
  </ion-tab-button>
</ion-tab-bar>
