<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
    <ion-buttons slot="end">
    <ion-back-button text="Volver"> </ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>

<ion-item lines="full">
  <ion-label position="floating">Nombre</ion-label>
  <ion-input type="text" name="txNombre" required></ion-input>
</ion-item>

<ion-item lines="full">
  <ion-label position="floating">Forma</ion-label>
  <ion-input type="text" name="txForma" required></ion-input>
</ion-item>

<ion-item lines="full">
  <ion-label position="floating">Tipo de producto</ion-label>
  <ion-input type="text" name="txtipoProducto"required></ion-input>
</ion-item>

<ion-item lines="full">
  <ion-label position="floating">Color</ion-label>
  <ion-input type="text" name="txColor" required></ion-input>
</ion-item>

<ion-item lines="full">
  <ion-label position="floating">Tamaño</ion-label>
  <ion-input type="text" name="txTamanno" required></ion-input>
</ion-item>

<ion-item lines="full">
  <ion-label position="floating">Marca</ion-label>
  <ion-input type="text" name="txMarca" required></ion-input>
</ion-item>

<ion-row>
    <ion-col>
      <ion-button expand="block" color="success">Agregar</ion-button>
    </ion-col>
</ion-row>

  </form>
</ion-content>
