<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button routerDirection="root" [routerLink]="['/Configuracion/configuracion']">
        <ion-icon  name ="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content >
  <div class="div1">
    <ion-avatar class="fPerfil">
      <img  src="{{ registro.foto }}" >
    </ion-avatar >
    <h5 class="nombre"> {{ registro.nombre }} {{ registro.apellido }}</h5>
  </div>
  <div class="div2">
    <ion-card class="card-div">
      <ion-card-header>
        <ion-card-title>Calificaciones</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <div class="texto">
          <ion-label> Productos Segun Descripcion:</ion-label>
        </div>
        <div class="range1">
          <ion-label class="txt">Calificacion: 4</ion-label>
          <ion-range [min]="1" [max]="5" disabled value="4"></ion-range>
        </div>
          
        <div class="texto">
          <ion-label> Atencion al cliente:</ion-label>
        </div>
        <div class="range2">
          <ion-label class="txt">Calificacion: 3</ion-label>
          <ion-range [min]="1" [max]="5" disabled value="3"></ion-range>
        </div>

        
      </ion-card-content>
    </ion-card>
  </div>
  <h1 style="text-align:center;">
    Comentarios
  </h1>

  
  <div class="comentarios">
    <div class="div3">
      <div class="comentario">
        <ion-avatar  slot="start">
          <img  src="https://static.scientificamerican.com/espanol/cache/file/52B8AF13-AEE6-4597-90797CDE57D70140_source.jpg?w=590&h=800&AEA791E1-A579-4DBF-B169AE2236D43151">
        </ion-avatar>
        <ion-title>Mr. Simiesco</ion-title>
      </div>
      <ion-text>
        Le compre unos platanos a este pibe y me vendio un maguito clasico del primito lukas
        no se si sali ganando o perdiendo.......
      </ion-text>
    </div>
  </div>



  <div class="comentarios">
    <div class="div3">
      <div class="comentario">
        <ion-avatar  slot="start">
          <img  src="https://www.nationalgeographic.com.es/medio/2018/02/27/monos__1280x720.jpg">
        </ion-avatar>
        <ion-title>Mona lisa</ion-title>
      </div>
      <ion-text>
        Hola buenas queria hacer una FUNA directamente en el perfil del caballero por que realmente el es mi ex y 
        lo que pasa realmente es que este sujeto.......
      </ion-text>
    </div>
  </div>

  <div class="comentarios">
    <div class="div3">
      <div class="comentario">
        <ion-avatar  slot="start">
          <img  src="https://www.nationalgeographic.com.es/medio/2018/03/09/monos-narigudos_4d80dfd5_800x800.jpg">
        </ion-avatar>
        <ion-title>ArgenSimio</ion-title>
      </div>
      <ion-text>
        Muy buen servicio el caballero, sus productos son como deberian ser y como salen en la imagen no es bait
      </ion-text>
    </div>
  </div>


  
  <footer>
    <p>Team interactive Development</p>
    
  </footer>


</ion-content>
<ion-tab-bar >
  <ion-tab-button auto-hide="false" *ngFor="let p of appBarra; let i = index" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
      <ion-icon  name ={{p.icon}}></ion-icon>
      <ion-label>{{ p.title }}</ion-label>
  </ion-tab-button>
</ion-tab-bar>
