<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style ="text-align:left; text-decoration: overline;"> Ayuda</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-text>
    Aqui es donde ira toda la info del caso de ayuda de usted el cliente, osea que si lo estafan, se lo cagan de cualquier lado
    es posible que aqui lo ayuden con sus problemas
    ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ña ñam ñam ñam ñam ñam ñam
    ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ña ñam ñam ñam ñam ñam ñam
    ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ña ñam ñam ñam ñam ñam ñam
    ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ña ñam ñam ñam ñam ñam ñam
    ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ña ñam ñam ñam ñam ñam ñam
    ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ña ñam ñam ñam ñam ñam ñam
    ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ñam ña ñam ñam ñam ñam ñam ñam

  </ion-text>
</ion-content>
