

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Tienda</ion-title>
    <ion-buttons slot="end">
      <ion-button auto-hide="false" routerDirection="root" [routerLink]="['/favorito/Favorito']" lines="none"
        detail="false">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button auto-hide="false" routerDirection="root" [routerLink]="['/carro/Carro']" lines="none" detail="false">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>

 


  <ion-card *ngFor ="let g of productos; let indexArray = index" [routerLink]="['/det-prod', g.id]">
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="{{ g.foto[0] }}"></ion-img>
      </ion-thumbnail>
      <ion-text>{{ g.nombre }}</ion-text>
      
    </ion-item>
    
    <ion-card-content>
      <ion-text>{{ g.marca }}</ion-text><div></div>
      <ion-text>Precio: ${{ g.precio }}</ion-text> <div></div>
      <ion-text>{{ g.detalle }}</ion-text>

    </ion-card-content>
  </ion-card>
  

</ion-content>
<ion-tab-bar >
  <ion-tab-button auto-hide="false" *ngFor="let p of appBarra; let i = index" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
      <ion-icon  name ={{p.icon}}></ion-icon>
      <ion-label>{{ p.title }}</ion-label>
  </ion-tab-button>
</ion-tab-bar>
