.bb {
  text-align: center;
  padding-top: 25%;
  color: rgb(173, 0, 207);
  font-family: Freestyle Script;
  font-size: 40px;
  font-weight: auto;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.div1 {
  padding-top: 25%;
}



.already{
  font-family: Arial black;
  text-align: center;
  padding-top: 15%;
  color: rgb(8, 18, 153);
  text-shadow: 2px 2px rgb(172, 8, 194);
  
}

.alreadyer{
  font-family: Arial black;
  text-align: center;
  text-shadow: 2px 2px rgb(42, 8, 194);
  color: rgb(195, 0, 255);
  
}

.btn-login{
  font-size: 17px;
  text-align: center;
  width: 100%;
  padding: 0px 50px;
  
}

.btn-register{
  font-size: 17px;
  text-align: center;
  width: 100%;
  padding: 0px 50px;
  size: 16px;

}

ion-content.background{
  --background: url(https://i.pinimg.com/originals/6a/00/9d/6a009d239a666dbd31473c59807da7b0.jpg) 0 0/100% 100% no-repeat;
}