<ion-header>
</ion-header>

<ion-content class="background">

    <ion-title class="bb">Bienvenido a ShopDown!</ion-title>
    <div class="div1"></div>
    <ion-title class="alreadyer">Que esperas?</ion-title>
    <ion-button [routerLink]="['/Register/registerShopdown']"  color="danger" class="btn-register">Registrarse</ion-button>
    <div class="div1"></div>
    <ion-title class="already">Ya tienes una cuenta?</ion-title>
    <div class="div2"></div>
    <ion-button [routerLink]="['/login/loginShopdown']" class="btn-login" color="success">Iniciar Sesion</ion-button>
  



</ion-content>
