

.div1 {
  padding-top: 125%;
}

.div2 {
  box-sizing: content-box;
  inline-size: auto;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}


.already{
  font-family: Arial black;
  text-align: center;
  padding-top: 15%;
  color: rgb(8, 18, 153);
  text-shadow: 2px 2px rgb(172, 8, 194);

}

.alreadyer{
  font-family: Arial black;
  text-align: center;
  text-shadow: 2px 2px rgb(42, 8, 194);
  color: rgb(195, 0, 255);

}

.btn-login{
  text-align: center;
  --padding: auto;



}

.btn-register{
  text-align: center;
  --padding: auto;
}

ion-content.background{
  --background: url(https://i.postimg.cc/6pGmDSg1/Instagram-Story-Black-Friday-Neones-Descuento-Rebajas.png) 0 0/100% 100% no-repeat;
}
