<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Favorito</ion-title>
    <ion-buttons slot="end" >
      <ion-button auto-hide="false" routerDirection="root" [routerLink]="['/favorito/Favorito']" lines="none" detail="false" routerLinkActive="selected">
        <ion-icon  name ="heart"></ion-icon>
      </ion-button>
      <ion-button auto-hide="false" routerDirection="root" [routerLink]="['/carro/Carro']" lines="none" detail="false" >
        <ion-icon  name ="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-card *ngFor="let p of usuario.favorito; let i = index">
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="{{ p.foto[0] }}"></ion-img>
      </ion-thumbnail>
      <ion-text> {{ p.nombre }} </ion-text>
      <ion-button fill="" style="color:rgb(199, 143, 255)" slot="end" (click)="borrarProd(i)">Eliminar</ion-button>
    </ion-item>

    <ion-card-content>
      <ion-text>Precio: ${{ p.precio }}</ion-text> <div></div>
      {{p.detalle}}

      <div></div>
      <ion-button fill="" style="color:rgb(255, 143, 240); text-align:center" slot="end" (click)="ponerCarrito(i)">Comprar</ion-button>
    </ion-card-content>
  </ion-card>

 


</ion-content>
<ion-tab-bar >
  <ion-tab-button auto-hide="false" *ngFor="let p of appBarra; let i = index" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
      <ion-icon  name ={{p.icon}}></ion-icon>
      <ion-label>{{ p.title }}</ion-label>
  </ion-tab-button>
</ion-tab-bar>
