<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Carro</ion-title>
    <ion-buttons slot="end">
      <ion-button auto-hide="false" routerDirection="root" [routerLink]="['/favorito/Favorito']" lines="none"
        detail="false">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button auto-hide="false" routerDirection="root" [routerLink]="['/carro/Carro']" lines="none" detail="false"
        routerLinkActive="selected">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content>

  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="C:\Users\efrap\Downloads\descargar.jpg"></ion-img>
      </ion-thumbnail>
      <ion-text>Nombre Producto</ion-text>
      <ion-button fill="" style="color:rgb(199, 143, 255)" slot="end">Eliminar</ion-button>
    </ion-item>

    <ion-card-content>
      <ion-text>Precio: $50.000</ion-text> <div></div>
      <ion-text>Cantidad: <ion-input type="number" value="1" style="width:60px; height:20px; border:1px solid #d8b4b48c "></ion-input></ion-text>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="C:\Users\efrap\Downloads\descargar.jpg"></ion-img>
      </ion-thumbnail>
      <ion-text>Nombre Producto</ion-text>
      <ion-button fill="" style="color:rgb(199, 143, 255)" slot="end">Eliminar</ion-button>
    </ion-item>

    <ion-card-content>
      <ion-text>Precio: $50.000</ion-text><div></div>
        <ion-text>Cantidad:
          <ion-input type="number" value="1" style="width:60px; height:20px; border:1px solid #d8b4b48c "></ion-input>
        </ion-text>

    </ion-card-content>
  </ion-card> <div></div>


    <ion-button expand="block" color="danger" shape="round">Vaciar Carro</ion-button><div></div>




  <ion-item>
    <ion-label>Total: $100.000.-</ion-label>
    <ion-button shape="round" style="color:rgb(143, 255, 182)" fill="clear" slot="end">PAGAR</ion-button>
  </ion-item>
</ion-content>


<ion-tab-bar>
  <ion-tab-button auto-hide="false" *ngFor="let p of appBarra; let i = index" routerDirection="root"
    [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
    <ion-icon name={{p.icon}}></ion-icon>
    <ion-label>{{ p.title }}</ion-label>
  </ion-tab-button>
</ion-tab-bar>
