<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> Volver </ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="txNombre" [(ngModel)]="registro.nombre" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" name="txApellido" [(ngModel)]="registro.apellido" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Rut</ion-label>
      <ion-input type="text" name="txRut" [(ngModel)]="registro.rut" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" name="txMail" [(ngModel)]="registro.id" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="txContrasenna" [(ngModel)]="registro.contrasenna" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Confiramar Contraseña</ion-label>
      <ion-input type="password" name="txCContrasenna" [(ngModel)]="contrasenna" required></ion-input>
    </ion-item>

    <ion-row text-center>
      <ion-button icon-left large (click)="abrirGaleria()">
        <ion-icon name="images" ></ion-icon> Subir Foto
      </ion-button>
    </ion-row>

    <div id="loadedImages">
      <ion-item >
        <ion-img src="{{ foto }}" class="imagenes"></ion-img>
      </ion-item>
    </div>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" (click)="grabar()" [routerLink]="['perfil/Perfil']" expand="block">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
