<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button routerDirection="root" [routerLink]="['/Configuracion/configuracion']">
        <ion-icon  name ="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="div1">
    <ion-avatar>
      <img  src="https://pbs.twimg.com/profile_images/1150117976143781888/YrvC1sqt_400x400.jpg" />
    </ion-avatar>
    <h5 class="nombre"> Elchan Guito </h5>
  </div>
  <div class="div2">
    <ion-card class="card-div">
      <ion-card-header>
        <ion-card-title>Calificaciones</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <div class="texto">
          <ion-label> Productos Segun Descripcion:</ion-label>
        </div>
        <div class="range1">
          <ion-label class="txt">Calificacion: 4</ion-label>
          <ion-range [min]="1" [max]="5" disabled value="4"></ion-range>
        </div>
          
        <div class="texto">
          <ion-label> Atencion al cliente:</ion-label>
        </div>
        <div class="range2">
          <ion-label class="txt">Calificacion: 3</ion-label>
          <ion-range [min]="1" [max]="5" disabled value="3"></ion-range>
        </div>

        
      </ion-card-content>
    </ion-card>
  </div>
  <div class="div3">
    


  </div>
  



</ion-content>
<ion-tab-bar >
  <ion-tab-button auto-hide="false" *ngFor="let p of appBarra; let i = index" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
      <ion-icon  name ={{p.icon}}></ion-icon>
      <ion-label>{{ p.title }}</ion-label>
  </ion-tab-button>
</ion-tab-bar>
