<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Tienda</ion-title>
    <ion-buttons slot="end" >
      <ion-button auto-hide="false" routerDirection="root" [routerLink]="['/favorito/Favorito']" lines="none" detail="false" >
        <ion-icon  name ="heart"></ion-icon>
      </ion-button>
      <ion-button auto-hide="false" routerDirection="root" [routerLink]="['/carro/Carro']" lines="none" detail="false" >
        <ion-icon  name ="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card>

    <img src="assets/img/airpods.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Airpods
        </ion-card-title>
      <p>
        Apple AirPods Pro
      </p>

      <ion-text>Cantidad: <ion-input type="number" id= "cantidad" value="1" style="width:60px; height:20px; border:1px solid #d8b4b48c "></ion-input></ion-text>
    </ion-card-content>
    <ion-button expand="block" color="danger">Añadir al carro</ion-button>

  </ion-card>

  <ion-card>
  <img src="assets/img/leds.jpg"/>
    <ion-card-content>
      <ion-card-title>
        luces led
        </ion-card-title>
      <p>
        Retroiluminación USB para televisores, U2M4AC112W-55IN, 4.00watts, 5.00 volts
      </p>
      <ion-text>Cantidad: <ion-input type="number" id= "cantidad" value="1" style="width:60px; height:20px; border:1px solid #d8b4b48c "></ion-input></ion-text>
    </ion-card-content>
    <ion-button expand="block" color="danger">Añadir al carro</ion-button>
  </ion-card>

  <ion-card>
    <img src="assets/img/note.jpg"/>
      <ion-card-content>
        <ion-card-title>
          ASUS TUF Dash 15
          </ion-card-title>
        <p>
          ASUS TUF Dash 15 (2022) - Laptop para juegos, pantalla FHD de 15.6 pulgadas y 144 Hz, Intel Core i7-12650H, GeForce RTX 3060
        </p>
        <ion-text>Cantidad: <ion-input type="number" id= "cantidad" value="1" style="width:60px; height:20px; border:1px solid #d8b4b48c "></ion-input></ion-text>
      </ion-card-content>
      <ion-button expand="block" color="danger">Añadir al carro</ion-button>
    </ion-card>

    <ion-card>
      <img src="assets/img/ventilador.jpg"/>
        <ion-card-content>
          <ion-card-title>
           Ventilador
            </ion-card-title>
          <p>
            Ventilador de torre sin aspas, ventilador de piso oscilante de enfriamiento de pie de 43 pulgadas con control remoto
          </p>

            <ion-text><ion-card-title>Cantidad:</ion-card-title> <ion-input type="number" id= "cantidad" value="1" style="width:60px; height:20px; border:1px solid #d8b4b48c "></ion-input></ion-text>

        </ion-card-content>
        <ion-button expand="block" color="danger">Añadir al carro</ion-button>
      </ion-card>

</ion-content>
<ion-tab-bar >
  <ion-tab-button auto-hide="false" *ngFor="let p of appBarra; let i = index" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
      <ion-icon  name ={{p.icon}}></ion-icon>
      <ion-label>{{ p.title }}</ion-label>
  </ion-tab-button>
</ion-tab-bar>
